@primaryLightColor: #8a9;
@primaryColor: #486;
@primaryDarkColor: #375;
@primaryDarkestColor: #3C5343;

// UNUSED?
@xdarkBlueColor: #036;
@darkBlueColor: #047;
@mediumBlueColor: #157;
@moodBlueColor: #6ac;
@extralightBlueColor: #def;

@darkGreenColor: #461;
@mediumGreenColor: #9a0;

@defaultTextColor: #333;

@backgroundColor: #fff;
@backgroundColor: @extralightBlueColor;
// @backgroundColor: darken(@extralightBlueColor,5%);
// @backgroundColor: lighten(@extralightBlueColor,5%);

@collapseWidth: @grid-float-breakpoint; // =@screen-sm-min=768px ? =@screen-md-min=992px
@midbarCollapse: @collapseWidth;

@navbarMainHeight: 60px;
@navbarPlusHeight: 50px;
