/**
 * @module body
 */
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #fff;
}
/**
 * @module debug
 */
label {
  color: blue;
}
/**
 * @module dev
 */
.TRACE {
  border: 1px solid red;
}
.HIDDEN {
  display: none;
}
#DIM {
  overflow: hidden;
  line-height: 150%;
  z-index: 9500;
  position: fixed;
  bottom: 0;
  left: 20px;
  font-family: Lucida Console, monospace;
  font-size: 8pt;
  white-space: pre;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(200, 200, 200, 0.8);
  padding: 5px;
  padding-right: 20px;
  margin: 10px auto;
  border-radius: 6px;
}
#DIM span {
  color: #555555;
}
#DIM:before {
  content: "-";
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
}
@media (min-width: 480px) {
  #DIM:before {
    content: "xs 480px";
  }
}
@media (min-width: 768px) {
  #DIM:before {
    content: "sm 768px";
  }
}
@media (min-width: 992px) {
  #DIM:before {
    content: "md 992px";
  }
}
@media (min-width: 1200px) {
  #DIM:before {
    content: "lg 1200px";
  }
}
#less-error-message-static {
  margin-top: 100px;
}
/**
 * @module bootstrap-theme
 */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  transition: all 250ms;
}
.btn-primary {
  background-color: #486;
  border-color: #3c7759;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #3c7759;
  border-color: #33664d;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #33664d;
  border-color: #2b5540;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: rgba(68, 136, 102, 0.5);
  border-color: rgba(68, 136, 102, 0.25);
}
.panel-primary > .panel-heading,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.progress-bar,
.bg-primary,
fieldset[disabled] .btn-primary.focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.label-primary {
  background-color: #486;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.panel-primary,
.panel-primary > .panel-heading {
  border-color: #486;
}
.pagination > li > a,
.pagination > li > span,
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge,
.panel-primary > .panel-heading .badge,
.text-primary,
.btn-primary .badge,
.pagination > li > span:focus,
.btn-link {
  color: #486;
}
a:hover,
a:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.btn-link:hover,
.btn-link:focus {
  color: #375;
}

/*# sourceMappingURL=styles.css.map */
