/**
 * @module body
 */

html {
  // font-smoothing: antialiased;
  // transform: translateZ(0px);
  // font-smoothing: antialiased;
  // font-smooth: always;
}

html, html a {
  /* -webkit-font-smoothing: antialiased; */
}

body {
  background-color: @backgroundColor;
  /*
  padding-top: 100px;
  .transition(padding .25s);
  @media (min-width: @screen-md-min) {
    padding-top: 140px;
  }
  &.main {
    padding-top: 0px;
  }
  */
}
